@mixin tags {
  font-size: 0.75em;
  font-weight: 600;
  background-color: #29292e;
  padding: 0.3em 0.6em;
  border-radius: 1em;
  color: var(--c-tags-words-color);
  width: fit-content;
}

@mixin social-buttons{
  display: flex;
  align-items: center;
  gap: 0.3em;
  padding: 0.5em;
  background-color: var(--c-nav-background-color);
  color: var(--c-tags-words-color);
  border: none;
  cursor: pointer;
}

@mixin category-buttons{
  background-color: var(--c-blue-button);
  border-radius: 0.625em;
  border: none;
  padding-left: 1em;
  width: 14.25em;
  height: 2.8em;
  cursor: pointer;
  display:flex;
  align-items: center;
}

@mixin nav-icon-buttons{
  background-color: var(--c-nav-background-color);
  border: none;
  padding: 0.625em;
  color: var(--c-white);
  border-radius: 0.25em;
}

@mixin gray-buttons-hover{
  &:hover {
    background-color: var(--c-gray-hover);
  }
}

@mixin text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}