@media live-channels-component-responsive and (max-width: 30em) {
  .live-channels-section {
    width: 100%;
    padding: 0 0.5em;
  }
  .live-channels-section__title {
    font-size: 1em;
    text-align: center;
  }
  .live-channels-section__divider {
    flex-direction: column;
    gap: 0.5em;
    margin: 2em 0;
  }
  .live-channels-section__divider-text {
    font-size: 0.85em;
    padding: 0;
  }
  .live-channels-section__arrow-icon {
    margin: 0 auto;
  }
}

@media live-channels-component-responsive and (max-width: 43.9375em) {
  .live-channels-section__row {
    width: 100%;
    margin-left: 0.5em;
  }
}

@media live-channels-component-responsive and (max-width: 45.8125em) {
  .live-channels-section {
    width: 100%;
  }
}

@media live-channels-component-responsive {
  /* MD: Laptops (769px - 1024px) */
}

@media live-channels-component-responsive and (max-width: 68.6875em) {
  .live-channels-section {
    min-width: 18.75em;
  }
}

@media live-channels-component-responsive and (max-width: 93.25em) {
  .live-channels-section {
    width: 100%;
  }
  .live-channels-section__title {
    display: flex;
    align-items: center;
    gap: 0.3em;
    justify-content: center;
  }
}

@media live-channels-component-responsive and (min-width: 119.5em) {
  .live-channels-section {
    margin-left: 25em;
  }
}
