:root {
  --c-nav-background-color: #18181b;
  --c-general-color: #0e0e10;
  --c-white: #ffffff;
  --c-gray-hover: #77777a;
  --c-tags-words-color: #a4a4ae;
  --c-border-color: #575353;
  --c-blue-button-and-words: #199afc;

  --fs-big-texts: 0.875em;
  --fs-small-texts: 0.8125em;
  --fs-tags: 0.75em;

  --fw-big-texts: 600;
  --fw-small-texts: 400;

}
  